/**************************************************
General
**************************************************/
body {
  font-family:'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}


/**************************************************
Heading
**************************************************/
header{
    width: 100%;
    margin-bottom: 10px;
}

#headplate {
  width: 100%;
  margin: 0 auto;
}

#headplate a h1{
  text-align: center;
  font-size: 4em;
  margin: 0 auto 20px;
  padding: 15px 0 0;
}

#headplate a, #headplate h2 {
  font-weight:normal;
  font-family: 'Raleway',sans-serif;
}


#headplate h2 {
 font-size: 1.25em;
 margin: 0 auto 30px;
 text-align: center;
}



/**************************************************
Navigation
**************************************************/
nav{
  text-align: center;
  padding: 5px;
  font-size: 1em;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
    display: inline-block;
    margin: 5px;
}

nav a{
  font-weight: 800;
  padding: 10px 10px;
}


/**************************************************
Main
**************************************************/
main{
  margin: 0 auto;
  padding: 0 5%;
  max-width: 80%;
}

#Me {
  text-align: center;
  margin:30px 0 0;
  font-family: 'Raleway',sans-serif;
}

#Me img{
  border-radius: 50%;
  width: 50%;
  max-width: 300px;
  min-width: 200px;
}

#Me h1{
font-size: 2em;
font-weight: normal;
text-align: center;
}

#Me h2{
font-size: 1.25em;
font-weight: normal;
}

.frntpage {
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 10px 10px 25px -3px rgba(0, 0, 0, 0.8);
  border-right: 3px solid #292724;
  border-bottom: 3px solid #292724;
}

.frntpage h3 {
  text-align: center;
  font-family: 'Raleway',sans-serif;
  font-size: 1.25em;
}

.frntpage ol {
  margin: 40px 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #c0392b;
  border-top: 2px solid #c0392b;
}

.frntpage ol li {
  font-size: .9em;
}

.frntpage #currentideas {
  text-align: justify;
}

.frntpage p {
  text-align: center;
  margin: 0 10%;
  font-size: .9em;
}

#emailaddress {
  margin: 0 auto;
  text-align: center;
}

#cprojects {
  margin-top: 20px;
}

/**************************************************
Footer
**************************************************/
footer {
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  border-top: 2px solid #c0392b;
  width: 80%;
}



/**************************************************
Color
**************************************************/


header{
  background-color: #e74c3c;
}

nav{
  background-color: #c0392b;
}

header, header a, header a:visited, main, footer{
  color: #fff;
}

nav li a:hover{
  color: #B80000;
  background-color: #ecf0f1;
  border-radius: 10px;
  transition: background-color .2s linear, color 0.2s linear;
  -webkit-transition:background-color .2s linear, color 0.2s linear;
  -moz-transition:color 1s ease;
  -o-transition: color 1s ease;
}

body {
  background-color: #e74c3c;
}

#projects a, #projects a:visited {
  color: #D91E18;
}

#projects a:hover {
  color: #B80000;
}

.frntpage {
  color: #fff;
  background-color: #45423c;
}

.frntpage a {
  color: #e74c3c;
}

.frntpage a:hover {
  color: #B80000;
  background-color: #fff;
  border-radius: 5px;
}

/**************************************************
Media Queries
**************************************************/



@media screen and (min-width: 950px){
  #Me img{
    border-radius: 50%;
    width: 100%;
  }

  header {
    display: block;
    background-color: #c0392b;
    height: 150px;
    margin-bottom: 80px;
}

  #headplate {
    width: 40%;
    display: block;
    float: left;
}

  #headplate a h1, #headplate h2 {
    text-align: left;
    margin-left: 5%;
  }

  nav {
    float: right;
    width: 55%;
    display: block;
    text-align: right;
    background-color: transparent;
    margin-top: 50px;
    font-size: 1.5em;
  }

  main {
    display: inline-block;
    clear: both;
    margin: 0 auto;
    max-width: 1600px;
    padding: 0 5%;
  }

  #Me {
    float: left;
    max-width: 25%;
    margin: 0 3.125% 0 6.25%;
    box-sizing: border-box;
    padding: 10px 20px;
  }

  #Me h1 {
    margin: 0;
  }

  #info {
    float: left;
    max-width: 25%;
    margin: 0 3.125%;
  }


  .frntpage h3 {
    font-size: 2.5em;;
  }

  .frntpage ol li {
    font-size: 1.1em;
  }

  .frntpage p {
    font-size: 1.1em;
  }

  .frntpage  #currentideas {
    text-align: center;
  }

  #cprojects {
    float: left;
    max-width: 25%;
    margin: 0 6.25% 0 3.125%;
  }

  #Me, #cprojects, #info {
    box-sizing: border-box;
  }
  footer {
    padding-top: 50px;
    clear: both;
  }

}
